body {
    display: flex;
    flex-direction: column;
}

.container1 {
    width: 98vw;
    height: 120vh;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.section1 {
    width: 98vw;
    height: 120vh;
    display: grid;
    grid-template-areas: "header1 header2" "main1 main2";
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
}

.section1>.item1 {
    grid-area: header1;
    position: relative;
    padding-left: 10vw;
    padding-top: 2.8vh;
    font-size: 1.5vw;
}

.section1>.item2 {
    grid-area: header2;
    right: 0;
}

.section1>.item3 {
    grid-area: main1;
    padding-left: 10vw;
    font-weight: bold;
    font-size: 4vw;
    font-family: monospace;
    text-shadow: 2 2 2;
}

.section1>.item4 {
    grid-area: main2;
}

.nav {
    position: absolute;
    right: 10vw;
    top: 6vh;
    font-size: 1vw;
}

.nav a {
    color: white;
    text-decoration: none;
    font-family: 'cooper black';
    cursor: pointer;
    margin: 0.3rem;
}

.button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 7px 32px;
    text-align: center;
    display: -ms-flexbox;
    border-radius: 1.7rem;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'cooper black';
    font-size: 1vw;
}

svg {
    position: absolute;
    top: 0;
    right: 0;
    grid-area: header2;
    left: 30%;
}

.name>strong {
    color: blueviolet;
}

.item4>img {
    width: 80%;
    height: 90%;
    position: relative;
    margin-left: 10%;
    top: 0;
}

.mobile {
    font-size: 1.2vw;
    font-weight: lighter;
}

.waveme {
    border-radius: 2.3rem;
    background: blueviolet;
    padding-top: 0;
    width: 30vw;
    height: 13vh;
    text-align: center;
    color: white;
    cursor: pointer;
    box-shadow: 1.2rem 0.6rem 3rem grey;
}

span.hand {
    animation-name: hand-animation;
    animation-duration: 2.5s;
    animation-play-state: running;
    transform-origin: 70% 70%;
    display: inline-block;
    opacity: 0.2;
    animation-iteration-count: infinite;
}

@keyframes hand-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(-10.0deg)
    }
    20% {
        transform: rotate( 12.0deg)
    }
    30% {
        transform: rotate(-10.0deg)
    }
    40% {
        transform: rotate( 9.0deg)
    }
    50% {
        transform: rotate( 0.0deg)
    }
    100% {
        transform: rotate( 0.0deg)
    }
}

.container2 {
    width: 80vw;
    height: 130vh;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5rem;
}

.section2 {
    width: 80vw;
    height: 130vh;
    display: grid;
    grid-template-areas: "header header header" "r1one r2two r3three" "r2one r2two r3two";
    grid-template-rows: 25% 37.5% 37.5%;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 1rem;
}

.section2>.item1 {
    grid-area: header;
    text-align: center;
}

.section2>.item1>.service {
    font-weight: bold;
    color: blueviolet;
}

.section2>.item1>.qlty {
    font-size: 2vw;
    font-weight: normal;
}

.section2>.item1>.info {
    width: 40vw;
    height: auto;
    margin-block-start: auto;
}